@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');

@media (min-width: 887px) {
    h1 {
        font-weight: 200;
        margin-top: 40px;
        margin-left: 50px;
    }
    
    h2 {
        margin-top: 10px;
        margin-left: 50px;
        font-weight: 200;
    }
    
    table {
        border-collapse: collapse;
        position: absolute;
        margin-top: 40px;
        left: 5%;
        width: 50%;
        font-size: 20px;
    }
    
    table {
        border: #333 solid 1px;
    }
    
    td {
        width: 20%;
        text-align: center;
    }
    
    
    th {
        padding-top: 20px;
        width: 20%;
        padding-bottom: 20px;
    }
    
    .addnew {
        position: absolute;
        bottom: 3%;
        width: 80%;
        left: 15%;
        /* border: #333 solid; */
    }
    
    .addnewLabel {
        position: absolute;
        bottom: 8.5%;
        width: 10%;
        padding: 0%;
        margin-left: 30px;
        text-align: center;
        /* border: #333 solid; */
    }
    
    .worksInput, .dateInput, .timeInput {
        margin-bottom: 20px;
    }
    
    button {
        background-color: #4285f4;
        color: white;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-width: 0px;
        border-radius: 4px;
        border-color: #333;
    }
}

@media (max-width: 887px) {
    h1 {
        width: 100%;
        text-align: center;
        font-size: 25px;
        font-weight: 200;
        margin-top: 40px;
    }
    
    h2 {
        margin-top: 10px;
        font-weight: 200;
        text-align: center;
    }

    .tableDiv {
        margin: auto;
        width: 90%;
        padding: 10px;
    }
    
    table {
        position: relative;
        margin: auto;
        text-align: center;
        border-collapse: collapse;
        width: 100%;
        font-size: 17px;
    }
    
    table {
        border: #333 solid 1px;
    }
    
    td {
        width: 20%;
        text-align: center;
    }
    
    
    th {
        padding-top: 20px;
        width: 20%;
        padding-bottom: 20px;
    }
    
    .addnew {
        position: absolute;
        bottom: 3%;
        width: 80%;
        left: 15%;
        /* border: #333 solid; */
    }
    
    .addnewLabel {
        position: absolute;
        bottom: 8.5%;
        width: 10%;
        padding: 0%;
        margin-left: 30px;
        text-align: center;
        /* border: #333 solid; */
    }
    
    .worksInput, .dateInput, .timeInput {
        margin-bottom: 20px;
    }
    
    button {
        background-color: #4285f4;
        color: white;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-width: 0px;
        border-radius: 4px;
        border-color: #333;
    }
}

@media (max-width: 400px) {
    h1 {
        width: 100%;
        text-align: center;
        font-size: 21px;
        font-weight: 200;
        margin-top: 40px;
    }
    
    h2 {
        margin-top: 10px;
        font-weight: 200;
        font-size: 17px;
        text-align: center;
    }

    .tableDiv {
        margin: auto;
        width: 90%;
        padding: 10px;
    }
    
    table {
        position: relative;
        margin: auto;
        text-align: center;
        border-collapse: collapse;
        width: 100%;
        font-size: 14px;
    }
    
    table {
        border: #333 solid 1px;
    }
    
    td {
        width: 20%;
        text-align: center;
    }
    
    
    th {
        padding-top: 20px;
        width: 20%;
        padding-bottom: 20px;
    }
    
    .addnew {
        position: absolute;
        bottom: 3%;
        width: 80%;
        left: 15%;
        /* border: #333 solid; */
    }
    
    .addnewLabel {
        position: absolute;
        bottom: 8.5%;
        width: 10%;
        padding: 0%;
        margin-left: 30px;
        text-align: center;
        /* border: #333 solid; */
    }
    
    .worksInput, .dateInput, .timeInput {
        margin-bottom: 20px;
    }
    
    button {
        background-color: #4285f4;
        color: white;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-width: 0px;
        border-radius: 4px;
        border-color: #333;
    }
}

* {
    font-family: 'Oxygen', sans-serif;
    color: #333;
}

body {
    background-image: linear-gradient(to right, #a6bfff, #cba6ff);
    background-size: cover;
}

